<!DOCTYPE html>
<html>
<script src="js/angular.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
    <form name="questionsForm" ng-submit="validate()">
<ul>
  <li ng-repeat="x in myData">
    {{ x.id + ', ' + x.enunciado }}
    <input type="text" value="{{ myVar }}">
    {{ x.frase }}
    <br>
    <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" ng-model="myVar" ng-click="dato(x.id, x.opciones[0])" value=" {{ x.opciones[0] }} ">{{ x.opciones[0] }}<br>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="myVar" ng-click="dato(x.id, x.opciones[1])" value=" {{ x.opciones[1] }} ">{{ x.opciones[1] }}<br>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="myVar" ng-click="dato(x.id, x.opciones[2])" value=" {{ x.opciones[2] }} ">{{ x.opciones[2] }}<br>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="myVar" ng-click="dato(x.id, x.opciones[3])" value=" {{ x.opciones[3] }} ">{{ x.opciones[3] }}<br>
                </label>
            </div>
        </div>
  </li>
</ul>
<input type='submit' value="Validar respuestas">
      {{selected_ids}}
</form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $scope.selected_ids= [{"pregunta1":"imaginar"}]; //variable en donde se guarda lo seleccionado en cada pregunta
    //$scope.existe= 0;
    $scope.rsp= null;
    $scope.dato= function(codigo, seleccionado){ //por cada clic, se guarda la opción seleccionada
      $scope.selected_ids[codigo]= seleccionado;
      console.log($scope.selected_ids[codigo]);
      /*
      angular.forEach($scope.selected_ids, function (value, key) {
        console.log(codigo + ":" + seleccionado);
        console.log(value + ":" + key);
        if(value == codigo){
          $scope.selected_ids[codigo]= seleccionado;
          $scope.existe= 1;
            //looking_for_key = key;
        }
      });

      if ($scope.existe == 0) {
        $scope.selected_ids[codigo].push({codigo : seleccionado});
      };
      $scope.existe= 0;*/
    };
  $http.get("data/principiante.json").then(function (response) { //se lee el archivo con las preguntas
      $scope.myData = response.data.preguntas;
      /*
      for (var j = 0; j < $scope.myData.length; j++){
        $scope.selected_ids[j]= $scope.myData.preguntas[j].id;
      }
      */
  });
  $scope.validate= function(){
    $http.get("data/rspprincipiante.json").then(function (response) { //se lee el archivo con las preguntas
        $scope.myRsp = response.data.preguntas;
    });
    /*for (var i = 0; i< myRsp.length; i++) {
        Things[i]
    };*/
  };
  
});
//http://www.w3schools.com/angular/angular_http.asp
//http://www.w3schools.com/angular/angular_forms.asp
//http://stackoverflow.com/questions/15166270/how-can-i-get-the-value-of-the-checked-radio-button-when-submitting-a-form-using
</script>

</body>
</html>
