<!DOCTYPE html>
<html>
<script src="js/angular.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
    <form name="questionsForm" ng-submit="validate()">
<ul>
  <li ng-repeat="x in myData">
    {{ x.id + ', ' + x.enunciado }}
    <!--<input type="text" value="{{ option.descripcion }}">-->
    <!--<select ng-model="selected_id">
        <option ng-repeat="option in x.opciones" value="option.op">{{option.descripcion}}</option>
    </select>-->
    <select data-role="listview" data-inset="true" ng-options="option as option.descripcion for option in x.opciones" ng-model="selected_ids[$index]" x-ng-change="update(option)"></select>
    {{ x.frase }}
    <br>
    <!--<div class="form-group">-->
      <!--<div class="radio">-->
      <!--<ul>
        <li ng-repeat="option in x.opciones">
              <label>
            <input type="radio" name="option_question_{{x.id}}" ng-model="x.selected_id" ng-value="option.op"/>
            {{option.descripcion}}
            
          </label>
            </li>
            </ul>-->
      <!--</div>-->
            <!--<div class="radio">
                <label>
                    <input type="radio" name="p_{{x.id}}" ng-model="x.selected_id" ng-value=" {{ x.opciones[0] }} ">{{ x.opciones[0] }}<br>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="p_{{x.id}}" ng-model="x.selected_id"  ng-value=" {{ x.opciones[1] }} ">{{ x.opciones[1] }}<br>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="p_{{x.id}}" ng-model="x.selected_id" ng-value=" {{ x.opciones[2] }} ">{{ x.opciones[2] }}<br>
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="p_{{x.id}}" ng-model="x.selected_id" ng-value=" {{ x.opciones[3] }} ">{{ x.opciones[3] }}<br>
                </label>
            </div>
        </div>-->
  </li>
</ul>
<input type='submit' value="Validar respuestas">
      {{selected_ids}}
</form>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {
    $scope.selected_ids= []; //variable en donde se guarda lo seleccionado en cada pregunta
    //$scope.existe= 0;
    //$scope.rsp= null;
    //$scope.myVar= 0;
  $http.get("data/principiante.json").then(function (response) { //se lee el archivo con las preguntas
      $scope.myData = response.data.preguntas;
      //$scope.selected_ids= $scope.myData.preguntas.opciones[0].op;
      /*
      for (var j = 0; j < $scope.myData.length; j++){
        $scope.selected_ids[j]= $scope.myData.preguntas[j].id;
      }
      */
  });

  $scope.update = function() {
    //console.log($scope.selected_id.op, $scope.selected_id.descripcion)
    };
  
  $scope.validate= function(myVar){
      console.log($scope.selected_id);
    //alert(myVar);
    angular.forEach($scope.myData.preguntas, function(x) {
      $scope.selected_ids.push(x.selected_id);
    });
    /*
    $http.get("data/rspprincipiante.json").then(function (response) { //se lee el archivo con las preguntas
        $scope.myRsp = response.data.preguntas;
    });
    /*for (var i = 0; i< myRsp.length; i++) {
        Things[i]
    };*/
  };
  
});
//http://www.w3schools.com/angular/angular_http.asp
//http://www.w3schools.com/angular/angular_forms.asp
//http://stackoverflow.com/questions/15166270/how-can-i-get-the-value-of-the-checked-radio-button-when-submitting-a-form-using
//http://jsfiddle.net/g/r9MLe/2/
//http://jsfiddle.net/DrQ77/
//http://stackoverflow.com/questions/25948683/how-to-get-multiple-radio-button-values-in-angularjs-form
</script>

</body>
</html>
